@{
    ViewBag.Title = "Home Page";
}
<div class="wallpaper container-fluid m-0 p-3">
    <div class="pt-5 Ps-2">
        <div><h1 class="display-6">A PHOTOGRAPH IS<br />THE PAUSE BUTTON OF LIFE.</h1></div>




        <div class="row justify-content-between mt-5">
            <div class="col-md-4">
                <h3>browse photo galleries</h3>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation .
                </p>
                <h3>choose your photographer</h3>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic  separation .
                </p>
                <h3>book a photoshoot in your  favorite spot!</h3>
                <p>
                    ASP.NET MVC gives you a powerful,
                </p>
                <p><a class="btn btn-default text-secondary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>

                <button type="button" class="btn btn-warning my-0 fw-bolder border-0 px-4 rounded-start">Let's Go!</button>
            </div>


        </div>
    </div>
</div>